*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: aliceblue;
}
.credit{
    position: absolute;
    left: 0;
    bottom: 0;
}
.inputs{
    text-align: center;
}
.gen-button-div{
    margin-top: 20px;
    text-align: center;
}
#result{
    margin: 5px;
}
.result-div{
    text-align: center;     
}
.Title{
    text-align: center;
    margin: 20px;
}
.settings-div-holder{
    margin: 10px;
    
}
.copy{
    background-color: transparent;
    border: 1px solid #484848;
}
.copy-img{
    width: 20px;
    height: 25px;
}